rtklib/build/
rtklib/include/
rtklib/lib/
rtklib/src/
rtklib/bin/

rtk_node/bin
rtk_node/build

rtklib_samples/sample
rtklib_samples/build

rtk_msgs/msg_gen
rtk_msgs/build
rtk_msgs/src/rtk_msgs

*~

*.pos
rtkrcv.nav
